html, body {
	height: 100%;
	margin: 0;
}

#wrapper {
	height: 100%;
}

#header {
	margin-top: 0px;
	margin-bottom: 0px;
}

#map {
	height: 85%;
}

/* Styles for the legend */
.legend {
	line-height: 18px;
	font-family: Helvetica, sans-serif;
	padding: 6px 8px;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.legend i, .legend img {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
}

.legend p {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}

.overdose-popup-table, .health-popup-table {
    width: 100%;
    margin: 0 auto; 
    border-collapse: collapse; 
}

.overdose-popup-table td, .health-popup-table td {
    padding-right: 5px;
    text-align: left; 
}

.overdose-popup-table td:nth-child(2), .health-popup-table td:nth-child(2) {
    padding-left: 10px; 
}
